*{
    margin: 0px 0px;
    padding: 0px 0px;
}
body{
    font-size: 14px;
    font-family: "Lantinghei SC";
    line-height: 1.4;
    text-align: center;
    background-color: #fff2e3;
}
.footer{
    color: #87968e;
}
.footer a{
    text-decoration: none;
    color: #72b890;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #72b890;
    border-radius: 2px;
    padding: 5px 12px;
    margin: 3px;
}
.btn:hover{
    opacity: 0.8;
}
.work-imge:hover{
    opacity: 0.8;
}
ul{
    list-style: none;
    margin: 40px;

}
li{
    display:inline-block;
    margin:0px 3px; 
}
.title{
    font-size: 42px;
    margin: 30px;
}
.title,.introduce{
    color: #87968e;
}
