*{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.t1{
    width: 0px;
    height: 0px;
    border-top: 60px solid blue;
    border-right: 60px solid yellow;
    border-bottom: 60px solid green;
    border-left: 60px solid red;
}
.t2{
    width: 0px;
    height: 0px;
    border-top: 60px solid blue;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid transparent;
}
.t3{
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid red;
}
.t4{
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-right: 60px solid yellow;
    border-bottom: 60px solid transparent;
    border-left: 60px solid transparent;
}
.t5{
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid green;
    border-left: 60px solid transparent;
}
.t6{
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid red;
    border-left: 60px solid red;
}
.t7{
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-right: 60px solid green;
    border-bottom: 60px solid green;
    border-left: 60px solid transparent;
}